<%- include('header.ejs') %>
<div class="flex-middle" flex-c>
    <h1 f-s nm>The bot is now awake.</h1>
    <h2 f-ss nm bg>You can close this tab or window.</h2>
    <p></p>
    <% /* %>
    <code ubg></%= time %></code>
    <% */ %>
</div>
<%- include('footer.ejs') %>